[tool.black]
line-length = 88
target-version = ['py313']
include = '\.py$'
exclude = '''
/(
    \.venv
  | venv
  | site-packages
)/
'''

[tool.isort]
profile = "black"
line_length = 88
src_paths = ["src", "main.py"]
skip = ["venv", "site-packages"]