[tool.black]
line-length = 88
target-version = ['py310']
include = '\.py$'
exclude = '''
/(
    \.venv
  | venv
  | site-packages
)/
'''

[tool.isort]
profile = "black"  # 确保与 Black 兼容
line_length = 88
src_paths = ["src", "main.py"]
skip = ["venv", "site-packages"]